#signup-form, #login-form {
  margin-top: 1em;
}

.submit-button {
  width: 80%;
  margin: auto;
}

#login-area {
  width: 30%;
  margin-top: 3%;
}

.centered {
  display: block;
  margin: 0 auto;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}