#todo-list {
  margin-top: 1em;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
}

#sortable li {
  margin: 0 5px 1px 5px;
  padding: 0.25em;
  font-size: 1em;
  border: solid 1px #CCCCCC;
  border-radius: 0.5em;
}

.ui-state-highlight {
  height: 1.25em;
  line-height: 1.25em;
}