<!DOCTYPE html>
<html ng-app="nextCapital">
  <head>
    <title>NextCapital Todo App</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="css/todos.css">
      <script src="js/mandrill.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body ng-controller="TodoCtrl">

    <button id="logout" class="btn btn-default">Logout</button>

    <h1>Your Todos</h1>

    <form class="form-inline" id="add-todo">
      <div class="form-group">
        <div class="input-group">
          <input type="text" ng-model="formTodo" ng-model-instant class="form-control" id="todo" name="todo" placeholder="Add Todo">
        </div>
      </div>
      <button ng-click="addTodo()" type="submit" class="btn btn-info"><i class="fa fa-plus"></i></button>
    </form>

    <div id="todo-list">
      <ul id="sortable" class="list-unstyled">
        <li ng-repeat="todo in todos"> <!--class="ui-state-default"-->
          <input type="checkbox" ng-model="todo.is_complete" ng-change="markComplete()">
          <!-- change this to call a method that marks todo as complete -->
          <span class="done-{{todo.is_complete}}">{{todo.description}}</span>
        </li>
      </ul>
    </div>

    <form class="form-inline" id="email-box">
      <div class="form-group">
        <div class="input-group">
          <input type="text" ng-model="emailAddress" ng-model-instant class="form-control" id="" name="mandrill" placeholder="Email Todo List">
        </div>
      </div>
      <button ng-click="sendEmail()" type="submit" class="btn btn-info"><i class="fa fa-envelope-o"></i></button>
    </form>



  <script id="todo-template" type="text/x-handlebars-template">
    <li>{{todo}}</li>
  </script>

  </body>


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  <script type="text/javascript" src="js/todos.js"></script>
</html>


